<p class="center title">Product List</p>
<ng-container *ngFor="let item of products">
    <div class="col-4" style="display: inline-block">
        <div class="parentContainer">
            <img [src]="'http://localhost:3000/api/items/image/'+item?.img " [alt]="item.name"  [routerLink]="'./'+item._id"/>
            <div class="bottom-right">
                <p-button [icon]="!favList[item._id] ? 'pi pi-heart' : 'pi pi-heart-fill'" (onClick)="item.fav = !item.fav; addToWishlist(item)" styleClass="p-button-rounded p-button-wi p-button-outlined"></p-button>
            </div>
        </div>
        <div class="item-des">
            <div class="font-p mt-0">
                <h4 class="text-xl mb-0">{{ item.name }}</h4>
                <h6 class="text-base mt-0 mb-3">{{ '$' + item.price }}</h6>
            </div>
            <i class="pi pi-shopping-cart" (click)="addToCard(item)" style="font-size: 1.7rem;"></i>
        </div>
    </div>
</ng-container>