<div class="mb-6">
    <p-table [value]="items">
        <ng-template pTemplate="header">
            <tr>
                <th>Name</th>
                <th>Quantity</th>
                <th>Price</th>
                <th>options</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-product let-index="rowIndex">
            <tr>
                <td>{{ product.name }}</td>
                <td class="flex">
                    <!-- <button pButton pRipple label="+" class="p-button-success"></button>
                    {{cardList[index].quantity}}
                -->
                
                <button pButton pRipple label="update" (click)="update(index)" class="p-button-success"></button>
                <p-dropdown appendTo="body" [options]="numbers" [(ngModel)]="copiedCardList[index].quantity" ></p-dropdown>

                </td>
                <td>{{ cardList[index].quantity * product.price }} 
                   <div class="text-xs">
                    {{cardList[index].quantity}} * {{product.price}}$
                   </div> </td>
                <td>
                    <!-- <i class="pi pi-heart-fill" [style.color]="'red'"></i> -->
                    <i class="pi pi-trash pl-2" [style.color]="'red'" (click)="remove(index)"></i>
                </td>
            </tr>
        </ng-template>
        <ng-template pTemplate="footer">
            <tr >
                <th [attr.colspan]="2" class="pt-4">Total</th>
                <th [attr.colspan]="1" class="pt-4" >{{total}}</th>
            </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage" let-columns>
            <tr>
                <td [attr.colspan]="4">
                    <div class="flex flex-column justify-content-between align-items-center">
                        <span class="flex justify-content-center">You havn't added any items </span>
                        <p-button styleClass="p-button-danger p-button-text" [routerLink]="['/items']">Back To items
                            List</p-button>
                        <!-- <p-messages [value]="messages" [enableService]="false" [closable]="false"></p-messages> -->
                    </div>
                </td>
            </tr>
        </ng-template>
    </p-table>
</div>

<p-button label="Checkout"></p-button>